*{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto';
}
/*fix-css*/
.right {
	float: right;
}
.left {
	float: left;
}
.fix-menu {
	position: fixed;
	width: 100%;
	top: 0px;
	background: #fff;
	transition: 0.3s;
}
ul li {
	list-style: none;
}
ul li a {
	text-decoration: none;
}
/*--Header--*/
#top-bar {
	height: 40px;
	background: #563D7C;
	box-sizing: border-box;
	line-height: 40px;
	font-size: 13px;
}
#main-menu ul li,
.tb-menu li {
	float: left;
	margin-right: 11px;
	text-transform: uppercase;
}
.tb-menu li a {
	padding:0px 11px;
	border-right: 1px solid #ddd;
	color: #fff;
}
.tb-menu li i {
	color: #fff;
	font-size: 16px;
}
#main-bar {
	height: 103px;
	box-sizing: border-box;
	box-shadow: 1px 2px 5px #dddddd;
}
#logo {
	width: 185px;
	height: auto;
	margin:19px 0px 31px 0px;
}
#logo img {
	width: 100%;
}
#main-menu {
	position: relative;
}
#main-menu ul li{
	line-height: 100px;
}
#main-menu ul li.active {
	border-bottom: 3px solid #563d7c;
}
#main-menu ul li a {
	padding: 0px 11px;
	font-size: 13px;
	font-weight: 700;
}
#sub-menu {
	position: absolute;
	width: 150%;
	left: -285px;
	background: #fbfbfb;
	border-radius:  3px;
	border-top: 2px solid #563d7c;
	box-shadow: 1px 2px 11px #eee;
	visibility:  hidden;
	opacity:  0;
	transition: 0.5s;
}
#list-menu {
	display: block;
	border-bottom: 1px solid #dddddd;
	padding: 29px 9px;
}
#list-menu li {
	line-height: 27px !important;
}
#list-menu li.show-tabs {
	border:1px solid #ddd;
	border-bottom: 2px solid #fbfbfb;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#item-menu {
	display: inline-block;
	width: 100%;
	padding: 10px;
	min-height: 198px;
}
#item-menu .item {
	display: none;
}
#item-menu .show-item {
	display: inline-block;
}
#sub-menu.mega-show {
	visibility: visible ;
    opacity: 1 ;
}